 
# Directories
# -----------------------------------------------------------------------------
Data/
Diags/
Plots/
Test_Data/
mach_study_data/
e*_full/
__pycache__/


# Files
# -----------------------------------------------------------------------------
figures.py
make_figures.py
get_rvm.py
*.h5
*.npy
*.pdf
